<div class="card">
    <div class="card-header">
        <form action="">
            <fieldset disabled>
                <div class="row align-items-center g-3">
                    <input type="hidden" name="id" value={{familia.id}}>
                    <div class="col-md-4 mb-3">
                        <label for="nome">Nome: </label>
                        <input type="text" id="disabledTextInput" class="form-control" value="{{familia.nome}}">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="telefone">Telefone: </label>
                        <input type="text" id="disabledTextInput" class="form-control" value="{{familia.telefone}}">    
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="cidade:">cidade: </label>
                        <input type="text" id="disabledTextInput" class="form-control" value="{{familia.cidade}}">
                    </div>
                </div>
                
                <div class="row align-items-center g-3">
                    <div class="col-md-4 mb-3">
                        <label for="bairro:">Bairro: </label>
                        <input type="text" id="bairro" class="form-control" value="{{familia.bairro}}">
                    </div>
                    
                    <div class="col-md-4 mb-3">
                        <label for="endereco:">Endereço: </label>
                        <input type="text" id="endereco" class="form-control" value="{{familia.endereco}}">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="numero:">Número: </label>
                        <input type="text" id="disabledTextInput" class="form-control" value="{{familia.numero}}">
                    </div>

                </div>

                <div class="row align-items-center g-3">
                    <div class="col-md-4 mb-3">
                        <label for="cep:">CEP: </label>
                        <input type="text" id="cep" class="form-control" value="{{familia.cep}}">
                    </div>

                    <div class="col-md-5 mb-3">
                        <label for="observacao">Observação: </label>
                        <textarea class="form-control" aria-label="With textarea">"{{familia.observacao}}"</textarea>
                    </div>         
                </div>
            </fieldset>
        </form>

        <input type="hidden" name="id" value={{familia.id}}>
        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Adicionar Pessoa
        </button>
    </div>

    <div class="card-body">
       
        <table class="table table-striped table-hover">
            <tr class="table-primary">
                <th class="table-light">Nome</th>
                <th class="table-light">Sobrenome</th>
                <th class="table-light">Telefone</th>
                <th class="table-light">Data de Nascimento</th>
                <th class="table-light">CPF</th>
                <th class="table-light">Renda Mensal</th>
                <th class="table-light">botoes</th>
            </tr>
            {{#each pessoa}}
            <tr class="table-primary">
                <th class="table-light">{{this.nome}}</th>
                <th class="table-light">{{this.sobrenome}}</th>
                <th class="table-light">{{this.telefone}}</th>
                <th class="table-light">{{this.dataNascimento}}</th>
                <th class="table-light">{{this.cpf}}</th>
                <th class="table-light">{{this.rendaMensal}}</th>
                <th class="table-light">
                    <form action="/pessoaDelete" method="post">
                        <input type="hidden" name="id" value={{this.id}}>
                        <button type="submit" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            Excluir
                        </button>
                        <a href="/pessoaEdit/{{this.id}}" data-title="editar" class="btn btn-outline-primary">Editar</a>
                    </button>
                    </form>
                </th>
            </tr>
            {{/each}}
        </table>
    </div>

</div>

{{> pessoaCadastro familia = familia.id}}